/* p{
    color: aliceblue;
    background-image: url(./img/1385482.jpg);
    background-position: center;
    border: 2px solid black;
    padding: 10px;
    background-size: cover;
    background-repeat: no-repeat;
} */
body {
    background: url(./img/1385482.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: aliceblue;
}