/* div div span p{
    color:forestgreen;
    background-color: antiquewhite;
    width: fit-content;
} */
/* .div-1 .div-2 .span-1 .p-1{
    color: #d6ed17ff;
    background-color: #606060ff;
    width: fit-content;
} */
p+div {
    background-color: salmon;
    width: fit-content;
}