body {
    background-color: #1c2233;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    text-align: center;
    width: 80%;
    font-size: 20px;
    margin: auto;
}

th,
td {
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #252d3d;
}

tr:nth-child(odd) {
    background-color: #2c3346;
}

th {
    background-color: #061235;
    color: rgb(25, 159, 221);
    border-right: 1px solid gray;
}

tr:hover {
    background-color: rgb(255, 149, 123);
}

td:not(.col-1):hover {
    color: white;
}

td:hover {
    color: white;
    background-color: rgb(228, 94, 60);
    box-shadow: -3px 2px 2px rgb(179, 73, 47);
    border: none;
}

td:not(.col-1) {
    color: grey;
}

tr,
td {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-collapse: collapse;
}

.col-1 {
    color: rgb(228, 94, 60);
}